<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emdad.travalerts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TouristAttractions">
        <activity android:name=".views.activities.EditProfileActivity" />

        <receiver
            android:name=".broadcastReceivers.GeoFenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".views.activities.SearchActivity" />
        <activity android:name=".views.activities.PlaceDetailsActivity" />
        <activity android:name=".views.activities.AddPlaceActivity" />
        <activity android:name=".views.activities.EditPlaceActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFFaxAPlRHL3YIEhasN5A-U9lmawy6e6Q" />

        <activity
            android:name=".views.activities.SplashActivity"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.MainActivity" />
        <activity
            android:name=".views.activities.AuthActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>